
#***Students Academic Performance (January 2026)***
### Nama: Dliya Syahla Hariyanto
### NIM: 2509116095
### Pratikum Analitik Visualisasi Data


---

#***Import Library***

In [6]:
import pandas as pd

#***Memuat Dataset***

In [7]:
file = '/content/drive/MyDrive/prakAVD/student_academic.csv'

In [8]:
df = pd.read_csv(file)

In [9]:
df

,Student ID,Gender,Race/Ethnicity,Parental Education,Lunch Type,Test Preparation,Study Time per Week,Daily Sleep Duration,Math Score,Reading Score,Writing Score,School Type,Internet Access
0,1,female,group B,some college,standard,False,12.4,5.4,62.0,76.0,65.0,public,True
1,2,male,group D,high school,standard,False,18.3,5.1,74.0,73.0,76.0,public,NaN
2,3,male,group B,bachelor degree,free/reduced,True,11.8,7.8,71.0,83.0,91.0,public,False
3,4,male,group E,high school,standard,False,NaN,7.3,83.0,73.0,52.0,public,True
4,5,female,group C,bachelor degree,standard,True,12.9,6.3,41.0,NaN,81.0,public,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,female,group C,some college,standard,True,3.5,6.8,74.0,NaN,50.0,private,False
6996,6997,female,group A,associate degree,free/reduced,True,10.8,7.3,82.0,52.0,81.0,public,True
6997,6998,female,group C,high school,standard,False,12.7,6.9,78.0,NaN,59.0,public,True
6998,6999,male,group D,high school,standard,True,15.1,8.1,62.0,63.0,79.0,public,True
6999,7000,male,group B,high school,free/reduced,True,16.2,7.2,66.0,80.0,69.0,public,True

# ***Business Understanding***

---

#***Business Objective***
 Pada analisis ini saya ingin melihat faktor-faktor apa saja yang berhubungan dengan nilai siswa. Dataset ini berisi informasi seperti gender, latar belakang pendidikan orang tua, jam belajar per minggu, durasi tidur, serta nilai matematika dan reading.

Tujuan utamanya adalah untuk memahami apakah kebiasaan belajar dan faktor lainnya benar-benar berpengaruh terhadap performa akademik siswa.

#***Assess Situation***
Data yang digunakan merupakan data performa akademik siswa periode Januari 2026. Di dalamnya terdapat beberapa variabel yang kemungkinan bisa mempengaruhi nilai, seperti Study Time per Week, Daily Sleep Duration, dan Test Preparation.

Permasalahan yang ingin dianalisis adalah apakah ada hubungan antara faktor-faktor tersebut dengan nilai siswa, serta apakah terdapat perbedaan performa berdasarkan kategori tertentu seperti gender.

#***Analytic Goals***
Tujuan analisis yang akan dilakukan adalah melihat faktor-faktor yang berhubungan dengan nilai siswa, seperti waktu belajar dan durasi tidur. Selain itu, analisis ini juga bertujuan untuk mengetahui apakah terdapat perbedaan nilai berdasarkan kategori tertentu seperti gender atau test preparation.

#***Project Plan***
Perencanaan dalam menganalisis data ini adalah memahami terlebih dahulu struktur dataset Students Academic Performance, kemudian melihat isi dan karakteristik datanya. Setelah itu, saya akan membuat beberapa visualisasi untuk melihat pola dan hubungan antar variabel. Dari hasil visualisasi tersebut, saya akan menjelaskan apa yang terlihat dan menarik kesimpulan berdasarkan hasil analisis.